body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;

    display: flex;
    justify-content: center;
}

header {
    width: 100vw;
    height: 92px;
    padding-left: 21px;
    padding-top: 8px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    line-height: 54.63px;
    color: #FFFFFF;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 21,09px;
    color: #FFFFFF;
}

main {
    width: 100vw;
    height: 100vh;
    padding-top: 92px;
    padding-bottom: 124px;
    background-color: #E5E5E5;
    overflow-y: scroll;
}

article {
    width: 100vw;
    height: 300px;
    padding-top: 27px;
    padding-bottom: 227px;
    padding-left: 19px;
    background-color: #E5E5E5;
}

.title {
    width: 414px;
    height: 25px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 32,28px;
    color: #333333;
    margin-bottom: 17px;
}

.options {
    display: flex;
    gap: 16px;
    overflow: hidden;
    overflow-x: scroll;
}

.option {
    min-width: 172px;
    height: 216px;
    border-radius: 9px;
    padding-top: 18px;
    background-color: #fff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: 5px solid #fff; 

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-bottom: 8px;
}

ion-icon {
    color: #fff;
    font-size: 15.44px;

    position: absolute;
    top: 185px;
    bottom: 16px;
    right: 20px;
    left: 144px;
}

.text {
    width: 144px;
    height: 84px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.name {
    font-weight: 700;
    font-size: 16px;
    line-height: 18,75px;
    color: #333333;
}

.description {
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}

.price {
    font-weight: 400;
    font-size: 16px;
    line-height: 18,75px;
    color: #000;
}

footer {
    width: 100vw;
    height: 92px;
    margin-top: 16px;
    background-color: #FFFFFF;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

button {
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-text {
    font-weight: 400;
    font-size:20px;
    line-height: 23,44px;
    color: #FFFFFF;
}

.selected {
    border: 5px solid #32B72F; 
}

.selected .check{
    color: #32B72F;
}

.footer-button {
    background-color: #32B72F;
}

.modal {
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.alert {
    width: 377px;
    height: 353px;
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 20px 25px 0px 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itens {
    display: flex;
    justify-content: space-between;
}

.text-confirm {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 25.78px;
}

.centralized {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-button {
    width: 330px;
    height: 52px;
    background-color: #fff;
    color: #50D074;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.78px;
}

.cancel-button {
    background-color: #50D074;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 25.78px;
}

.hide {
    display: none;
}
